name: Release

on:
  release:
    types: [ published ]
  workflow_dispatch:

env:
  SOLUTION_NAME: AutoSweep
  ZIP_PATH: bin\Release\out\autoSweep

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.3

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"

      - name: Setup Secrets
        run: |
          echo '${{ secrets.SECRETS_CS }}' > Paissa/Secrets.cs

      - name: Build
        run: |
          dotnet restore
          dotnet build -c Release

      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: ReleaseZip
          path: ${{ env.ZIP_PATH }}
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ReleaseZip
          path: out

      - name: Prepare for release
        run: |
          mv out/latest.zip out/autoSweep.zip

      - name: Update release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            out/autoSweep.zip
            out/autoSweep.json

      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: ReleaseArtifact
          path: out

      - name: Trigger plugin repo update
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: zhudotexe/FFXIV_DalamudPlugins
          event-type: new-release
